* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}


body {
	background-image: linear-gradient(#FFFEFF 0%, #D7FFFE 100%);
	margin: 4px;
}

/* adjusting fonts */

body {
    color: black;
    Font-family: arial;
    text-align: center;
}

.cursive {
    font-family: "puntino", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  16px;
	line-height: 1.5;
	list-style-position: inside;
}


/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

h2 {
	margin-top: 30px;
	margin-bottom: 10px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

li {
	text-align: center;


}


body.dark {
  background: #333;
  color: white;
}

body.dark a {
	color: #87cefa;
}


/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/